$txt-color: #f05630;
$bg-color: #6a80ea;
$browser-default-font-size: 75px!default;;
@function pr($px){
  @return $px / $browser-default-font-size * 1rem;
}

$padding-size: pr(20px);

body {
  font-size: pr(16px);
  color: #444444;
}

p {
  line-height: 1.6;
}

a:hover {
  color: $txt-color;
}

li {
  list-style: none;
}

img {
  border: none;
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.header{
  @extend %clearfix;
  padding: pr(16px) $padding-size;
  .logo{
    float: left;
    width: pr(167px);
    height: pr(55px);
  }
  .detail{
    float: left;
    width: pr(220px);
    font-size: pr(16px);
    line-height: pr(30px);
    color: #888888;
    margin-left: pr(10px);
  }
  .tel{
    float: right;
    height: pr(28px);
    margin-top: pr(15px);
    img{
      height: 100%;
    }
    span{
      font-family: Arial-BoldMT;
      font-weight: bold;
      font-size: pr(32px);
      line-height: pr(24px);
      color: #f05630;
    }
  }
}

.nav{
  padding: 0 $padding-size;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: space-around;
  a{
    line-height: pr(70px);
    font-size: pr(30px);
  }
}

.banner{
  padding-top: pr(315px);
  padding-bottom: pr(85px);
  padding-left: pr(154px);
  background: url("../images/banner_1.png") no-repeat center;
  background-size: 100% 100%;
  .btn{
    width: pr(360px);
    height: pr(50px);
    line-height: pr(50px);
    border-radius: pr(24px);
    border: solid pr(2px) #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    padding-left: $padding-size;
    span{
      float: left;
      line-height: pr(46px);
    }
    a{
      float: right;
      background: #f84949;
      border-radius: pr(24px);
      font-size: pr(24px);
      padding: 0 pr(10px);
      color: #ffffff;
      margin-top: pr(-2px);
      margin-right: pr(-2px);
    }
  }
}

/* 预约探校 */
.study{
  padding: pr(30px) pr(19px) pr(30px) pr(0px);
  background-color: #ffffff;
  box-shadow: 0 0 pr(12px) 0 rgba(37, 59, 163, 0.32);
  border-radius: pr(12px);
  //position: absolute;
  margin: pr(-35px) $padding-size pr(30px);
  z-index: 30;
  @extend %clearfix;
  .study-item{
    float: left;
    border-right: 1px solid #dddddd;
    padding-left: pr(28px);
    padding-right: pr(28px);
    img{
      height: pr(97px);
      float: left;
      margin-right: pr(19px);
    }
    .item-detail{
      float: right;
      font-family: NotoSansHans-Regular;
      line-height: pr(36px);
      margin-top: pr(15px);
      .item-title{
        font-size: pr(32px);
      }
      p{
        font-size: pr(24px);
        color: #888888;
      }
    }
    &:last-child{
      border-right: none;
      padding-right: pr(10px);
    }
  }
}

.banner-2{
  margin: 0 $padding-size pr(20px);
}

/* 立即预约 */
.appoint{
  margin: 0 $padding-size;
  input{
    width: 100%;
    height: pr(58px);
    line-height: pr(58px);
    border: solid 1px #dddddd;
    box-sizing: border-box;
    padding-left: $padding-size;
    margin-bottom: $padding-size;
  }
  input[type='submit']{
    background-image: linear-gradient(-90deg,
      #f05630 0%,
      #f09c30 100%),
    linear-gradient(
        #f05630,
        #f05630);
    background-blend-mode: normal, normal;
    box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
    border-radius: pr(28px);
    border: none;
    font-size: pr(26px);
    line-height: pr(36px);
    color: #ffffff;
  }
}

/* 直击家长焦虑，解决孩子上学难题 */
.good-teach{
  height: pr(751px);
  padding-top: pr(89px);
  background: url("../images/bg_1.png") no-repeat center;
  background-size: 100% 100%;
  margin-bottom: pr(30px);
  .title{
    color: #ffffff;
    margin-bottom: pr(8px);
  }
  .subhead{
    margin-bottom: pr(84px);
    color: #ffffff;
    opacity: 0.36;
  }
  .cont-item{
    margin: 0 pr(50px) 0 pr(36px);
    //border: 1px solid red;
    padding: pr(30px) 0 pr(30px) pr(30px);
    @extend %clearfix;
    .num{
      float: left;
      width: pr(32px);
      height: pr(32px);
      line-height: pr(32px);
      background-image: linear-gradient(-55deg,
        #f05830 0%,
        #fed700 100%),
      linear-gradient(
          #ffffff,
          #ffffff);
      background-blend-mode: normal, normal;
      box-shadow: 0 pr(2px) pr(5px) 0
      rgba(240, 89, 48, 0.75);

      font-family: NotoSansHans-Medium;
      font-size: pr(28px);
      color: #fefeff;
      text-align: center;
      border-radius: 50%;
      margin-right: pr(15px);
    }
    .item-detail{
      float: left;
      .detail-title{
        font-family: NotoSansHans-Bold;
        font-size: pr(28px);
        font-weight: bold;
        line-height: pr(24px);
        color: #fed700;
        @extend %in-b;
        margin-bottom: pr(12px);
      }
      p{
        font-family: NotoSansHans-Regular;
        font-size: pr(22px);
        line-height: pr(30px);
        color: #ffffff;
        opacity: 0.6;
      }
    }
    &:nth-child(even){
      padding-left: pr(70px);
    }
    &:nth-of-type(2){
      .item-detail{
        width: pr(312px);
      }
    }
    &:nth-of-type(3){
      padding-top: pr(16px);
      padding-bottom: pr(20px);
      .item-detail{
        width: pr(430px);
      }
    }
    &:nth-of-type(4){
      padding-top: pr(20px);
      .item-detail{
        width: pr(515px);
      }
    }
  }
}

/* 国际学校大全 */
.all-school{
  text-align: center;
  margin-bottom: pr(30px);
  .title{
    @extend %in-b;
    width: pr(663px);
    background: url("../images/icon_5.png") no-repeat top center;
    background-size: contain;
    padding-top: pr(10px);
    margin-bottom: pr(20px);
    span{
      font-family: NotoSansHans-Black;
      font-weight: bold;
      font-size: pr(36px);
      line-height: pr(24px);
      color: #444444;
    }
  }
  .tab-head{
    padding: 0 $padding-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .head-item{
      //width: pr(230px);
      height: pr(58px);
      line-height: pr(58px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      cursor: pointer;
      font-size: pr(26px);
      padding: 0 pr(34px);
      &.active{
        background: $bg-color;
        color: #ffffff;
      }
      &:hover{
        background: $bg-color;
        color: #ffffff;
      }
    }
  }
  .tab-cont{
    padding: 0 $padding-size;
    margin-top: pr(20px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: pr(22px);
    grid-row-gap: pr(15px);
    .cont-item{
      background-color: #ffffff;
      box-shadow: 0 0 pr(12px) 0 rgba(106, 128, 234, 0.4);
      border: solid 1px #d0d9ff;
      padding: pr(21px) pr(21px) pr(31px);
      text-align: center;
      img{
        margin-bottom: pr(14px);
      }
      .item-title{
        font-family: NotoSansHans-Regular;
        font-size: pr(24px);
        line-height: pr(24px);
      }
      li{
        font-size: pr(22px);
        text-align: left;
        span{
          color: #888888;
        }
        strong{
          font-weight: normal;
        }
      }
      .btn{
        @extend %in-b;
        width: pr(220px);
        height: pr(46px);
        line-height: pr(46px);
        background-color: $bg-color;
        color: #ffffff;
        margin-top: pr(29px);
      }
    }
  }
}

/* 如何顺利进入心仪国际学校 */
.goal-school{
  background: url("../images/bg_2.png") no-repeat top;
  background-size: contain;
  padding-top: pr(79px);
  text-align: center;
  .title{
    @extend %in-b;
    width: pr(639px);
    background: url("../images/icon_5.png") no-repeat top center;
    background-size: contain;
    padding-top: pr(10px);
    //margin-bottom: pr(20px);
    span{
      font-family: NotoSansHans-Black;
      font-weight: bold;
      font-size: pr(36px);
      line-height: pr(24px);
      color: #ffffff;
    }
  }
  .subhead{
    color: #ffffff;
    opacity: 0.36;
  }

  .goal-cont{
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(18, 38, 137, 0.4);
    border-radius: 12px;
    margin: pr(29px) $padding-size;
    padding-top: $padding-size;
    padding-left: pr(41px);
    padding-bottom: pr(41px);
    li{
      text-align: left;
      @extend %clearfix;
      .icon{
        @extend %in-b;
        width: pr(32px);
        height: pr(92px);
        background: url("../images/step.png") no-repeat;
        background-size: 100% 100%;
        text-align: center;
        padding-top: pr(12px);
        box-sizing: border-box;
        color: #ffffff;
        font-size: pr(18px);
        line-height: pr(28px);
        float: left;
        margin-right: pr(30px);
      }
      .text{
        float: left;
        .text-title{
          font-family: NotoSansHans-Black;
          font-size: pr(30px);
          font-weight: bold;
          line-height: pr(42px);
          color: $bg-color;
        }
        p{
          font-family: NotoSansHans-Regular;
          font-size: pr(26px);
          color: #666666;
        }
      }
    }
    .btn{
      @extend %in-b;
      background-image: linear-gradient(-90deg,
        #f05630 0%,
        #f09c30 100%),
      linear-gradient(
          #f08830,
          #f08830);
      background-blend-mode: normal, normal;
      box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
      border-radius: pr(24px);
      padding: 0 pr(100px);
      height: pr(48px);
      line-height: pr(48px);
      font-family: NotoSansHans-Regular;
      font-size: pr(26px);
      color: #ffffff;
      margin-top: pr(10px);
    }
  }
}

/* 国际学校入学能力免费评估 */
.assess{
  margin: 0 $padding-size pr(30px);
  padding: $padding-size $padding-size pr(29px);
  background: url("../images/bg_3.png") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  .assess-title{
    @extend %in-b;
    font-family: NotoSansHans-Black;
    font-size: pr(36px);
    font-weight: bold;
    line-height: pr(42px);
    color: #ffffff;
    strong{
      color: #ffcc00;
    }
  }
  .exam{
    font-family: NotoSansHans-Regular;
    font-size: pr(26px);
    line-height: pr(42px);
    color: #ffffff;
    opacity: 0.7;
  }
  .population{
    @extend %in-b;
    width: pr(407px);
    color: #ffffff;
    font-family: NotoSansHans-Regular;
    font-size: pr(24px);
    line-height: pr(42px);
    background: url("../images/icon_6.png") no-repeat center;
    background-size: cover;
    margin-bottom: pr(17px);
  }
  .sign-in{
    background-color: #ffffff;
    padding: pr(30px) pr(21px) pr(10px) pr(19px);
    input{
      width: 100%;
      height: pr(58px);
      line-height: pr(58px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      padding-left: $padding-size;
      margin-bottom: $padding-size;
    }
    input[type='submit']{
      background-image: linear-gradient(-90deg,
        #f05630 0%,
        #f09c30 100%),
      linear-gradient(
          #f05630,
          #f05630);
      background-blend-mode: normal, normal;
      box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
      border-radius: pr(28px);
      border: none;
      font-size: pr(26px);
      line-height: pr(36px);
      color: #ffffff;
    }
  }
}

/* 多维度评估 全方位解读 */
.reading{
  margin: 0 $padding-size pr(28px);
  height: pr(486px);
  background: url("../images/bg_4.png") no-repeat center;
  background-size: 100% 100%;
  padding-right: $padding-size;
  .reading-title{
    font-family: NotoSansHans-Black;
    font-size: pr(36px);
    font-weight: bold;
    line-height: pr(70px);
    padding-left: pr(57px);
    color: #ffffff;
  }
  .explain{
    padding-left: pr(290px);
    padding-top: pr(58px);
    color: #ffffff;
    font-size: pr(26px);
    margin-bottom: pr(34px);
  }
  .reading-cont{
    @extend %clearfix;
    .cont-btn{
      //@extend %in-b;
      float: left;
      background-image: linear-gradient(-90deg,
        #f05830 0%,
        #f09930 100%),
      linear-gradient(
          #f05830,
          #f05830);
      background-blend-mode: normal, normal;
      border-radius: 0 47px 47px 0;
      padding: pr(10px) pr(64px);

      font-size: pr(26px);
      line-height: pr(36px);
      color: #ffffff;
      margin-top: pr(50px);

    }
    .report{
      float: right;
      //width: pr(332px);
      //height: pr(104px);
      background: url("../images/icon_7.png") no-repeat center;
      background-size: 100% 100%;
      padding: $padding-size $padding-size $padding-size pr(40px);

      font-family: NotoSansHans-Regular;
      font-size: pr(22px);
      color: #ffffff;
      opacity: 0.7;
    }
  }
}

/* 从国际学校面试真题 */
.past-exam{
  text-align: center;
  padding-bottom: pr(30px);
  .subhead{
    color: #666666;
    margin-bottom: pr(29px);
  }
  .exam-cont{
    padding: 0 $padding-size;
    display: flex;
    justify-content: space-between;
    margin-bottom: pr(30px);
    .cont-item{
      //width: pr(220px);
      width: 32%;
      height: pr(164px);
      background: url("../images/interview_1.png");
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: pr(64px);
      }
      span{
        font-family: NotoSansHans-Regular;
        font-size: pr(26px);
        line-height: pr(30px);
        color: #ffffff;
      }
      &:nth-of-type(2){
        background: url("../images/interview_2.png");
        background-size: 100% 100%;
        img{
          width: pr(52px);
        }
      }
      &:nth-of-type(3){
        background: url("../images/interview_3.png");
        background-size: 100% 100%;
        img{
          width: pr(48px);
        }
      }
    }
  }
  .exam-btn{
    @extend %in-b;
    width: pr(300px);
    height: pr(48px);
    border-radius: pr(23px);
    border: dotted 1px #f95b34;
    font-family: NotoSansHans-Regular;
    font-size: pr(26px);
    line-height: pr(48px);
    color: #ee5f3c;
  }
}

/* 预约看校流程 */
.look-school{
  text-align: center;
  padding-bottom: pr(30px);
  .title{
    @extend %in-b;
    width: pr(449px);
    background: url("../images/icon_9.png") no-repeat top center;
    background-size: contain;
    padding-top: pr(10px);
    span{
      font-family: NotoSansHans-Black;
      font-size: pr(36px);
      font-weight: bold;
      line-height: pr(36px);
    }
  }
  .step{
    margin: pr(45px) $padding-size pr(39px);
    @extend %clearfix;
    .step-item{
      width: 20%;
      float: left;
      .icon{
        @extend %in-b;
        height: pr(109px);
        width: 100%;
        background: url("../images/icon_10.png");
        background-size: 100% 100%;
        font-family: NotoSansHans-Medium;
        font-size: pr(36px);
        line-height: pr(100px);
        color: #ffffff;
      }
      span{
        font-family: NotoSansHans-Regular;
        font-size: pr(22px);
        line-height: pr(36px);
      }
    }
  }
  .btn{
    @extend %in-b;
    background-image: linear-gradient(-90deg,
      #f05630 0%,
      #f09c30 100%),
    linear-gradient(
        #f08830,
        #f08830);
    background-blend-mode: normal, normal;
    box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
    border-radius: pr(24px);
    padding: 0 pr(74px);
    height: pr(48px);
    line-height: pr(48px);
    font-family: NotoSansHans-Regular;
    font-size: pr(26px);
    color: #ffffff;
    margin-top: pr(10px);
  }
}

/* 第十一届国际学校择校展 */
.school-fair{
  padding: $padding-size $padding-size pr(29px);
  background: url("../images/bg_5.png") no-repeat top;
  background-size: contain;
  text-align: center;
  .assess-title{
    @extend %in-b;
    font-family: NotoSansHans-Black;
    font-size: pr(36px);
    font-weight: bold;
    line-height: pr(42px);
    color: $txt-color;
    strong{
      background-color: $txt-color;
      color: #ffffff;
      border-radius: 45% 50%;
      padding: 0 pr(4px);
      margin: 0 pr(-2px);
    }
  }
  .exam{
    font-family: NotoSansHans-Regular;
    font-size: pr(26px);
    line-height: pr(42px);
  }
  .population{
    img{
      @extend %in-b;
      width: pr(10px);
      height: pr(14px);
      vertical-align: middle;
    }
    @extend %in-b;
    width: pr(407px);
    color: #ffffff;
    font-family: NotoSansHans-Regular;
    font-size: pr(18px);
    line-height: pr(42px);
    background: url("../images/icon_6.png") no-repeat center;
    background-size: cover;
    margin-bottom: pr(17px);
    span{
      color: rgba(255, 255, 255, 0.28);
      margin-left: pr(8px);
      padding-right: pr(5px);
    }
  }
  .sign-in{
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(99, 99, 99, 0.4);
    border-radius: 12px;
    padding: pr(39px) pr(41px) pr(20px) pr(39px);
    .title{
      @extend %in-b;
      //width: pr(400px);
      background: url("../images/icon_13.png") no-repeat bottom center;
      background-size: contain;
      padding-bottom: pr(10px);
      margin-bottom: pr(30px);
      span{
        font-family: NotoSansHans-Black;
        font-size: pr(36px);
        font-weight: bold;
        line-height: pr(36px);
      }
    }
    input{
      width: 100%;
      height: pr(58px);
      line-height: pr(58px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      padding-left: $padding-size;
      margin-bottom: $padding-size;
    }
    input[type='submit']{
      background-image: linear-gradient(-90deg,
        #f05630 0%,
        #f09c30 100%),
      linear-gradient(
          #f05630,
          #f05630);
      background-blend-mode: normal, normal;
      box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
      border-radius: pr(28px);
      border: none;
      font-size: pr(26px);
      line-height: pr(36px);
      color: #ffffff;
    }
  }
}

.copyright{
  font-size: pr(26px);
  line-height: pr(36px);
  color: #999999;
  text-align: center;
  margin: 0 $padding-size;
  .company{
    position: absolute;
    &:before, &:after{
      content: '';
      @extend %in-b;
      width: pr(116px);
      height: 1px;
      background-color: #dddddd;
      vertical-align: middle;
    }
  }
}

.footer{
  @extend %clearfix;
  a{
    float: left;
    width: 33.3%;
    height: pr(98px);
    background-color: #6a7fea;
    img{
      width: pr(40px);
      height: pr(40px);
    }
    &:nth-of-type(2){

    }
  }
}

.title{
  font-family: NotoSansHans-Black;
  font-weight: bold;
  font-size: pr(36px);
  height: pr(41px);
  line-height: pr(41px);
  text-align: center;
  img{
    height: 100%;
  }
}
.subhead{
  font-family: NotoSansHans-Regular;
  font-size: pr(26px);
  line-height: pr(24px);
  text-align: center;
}

