$txt-color: #f05630; // 字体颜色
$bg-color: #6a80ea; // 背景颜色
$browser-default-font-size: 75px!default;;
@function pr($px){
  @return $px / $browser-default-font-size * 1rem;
}
$padding-size: pr(20px);
%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
.wrap{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
p {
  line-height: 1.6;
}
a:hover {
  color: $txt-color;
}
li {
  list-style: none;
}
img {
  border: none;
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}
input[type="submit"] {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input, textarea, select {
  background-color: transparent;
  font-family: '微软雅黑';
}
select {
  border: none;
  text-indent: 1em;
}
option {
  text-indent: 1em;
  font-family: '微软雅黑';
}
input[type='text'], select {
  border: none;
  text-indent: 1em;
}
input[type="submit"] {
  border: none;
}

/* 公共标题 */
.title{
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  img{
    height: 100%;
  }
}
/* 公共副标题 */
.subhead{
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 56px;
  text-align: center;
}

.header{
  @extend %clearfix;
  //border: 1px solid red;
  padding-top: 13px;
  padding-bottom: 18px;
  box-sizing: border-box;
  //height: 89px;
  .logo{
    float: left;
  }
  .detail{
    float: left;
    color: #888888;
    width: 144px;
    //height: 36px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 15px;
  }
  .nav{
    float: left;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    margin-top: 24px;
    .nav-item{
      padding: 0 25px;
      border-right: 1px dashed #4b4b4b;
      cursor: pointer;
      &.active{
        color: $txt-color;
      }
      &:last-child{
        border-right: none;
      }
    }
  }
  .mobile{
    float: right;
    margin-top: 18px;
    font-size: 24px;
    line-height: 28px;
    color: #f05630;
    .icon{
      float: left;
      width: 28px;
      height: 28px;
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/tel.png") no-repeat;
    }
    .tel{
      float: left;
    }
  }
}
.wap-nav{
  display: none;
}
.banner{
  //height: 450px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-banner.png") no-repeat center;
  background-size: cover;
  padding-top: 364px;
  padding-bottom: 54px;
  .btn{
    width: 360px;
    height: 50px;
    line-height: 50px;
    border-radius: 24px;
    border: solid 2px #ffffff;
    box-sizing: border-box;
    padding-left: 14px;
    margin-left: 36%;
    font-size: 24px;
    color: #ffffff;
    .tel{
      float: left;
      font-weight: normal;
      font-stretch: normal;
      line-height: 46px;
    }
    .know{
      float: right;
      width: 180px;
      height: 50px;
      background-color: #f84949;
      border-radius: 24px;
      margin-top: -2px;
      margin-right: -2px;
      color: #ffffff;
      text-align: center;
    }
  }
}
.wap-banner{
  display: none;
}
/* 预约探校 */
.visit{
  padding-top: 36px;
  padding-left: 10px;
  padding-bottom: 10px;
  .study{
    width: 319px;
    //height: 266px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(37, 59, 163, 0.15);
    border-radius: 12px;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    //border: 1px solid red;
    .study-item{
      @extend %clearfix;
      img{
        height: 85px;
        float: left;
        margin-left: 14px;
      }
      .item-detail{
        width: 144px;
        float: right;
        line-height: 36px;
        margin-top: 15px;
        .item-title{
          font-size: 24px;
          cursor: pointer;
        }
        p{
          font-size: 16px;
          color: #888888;
        }
      }
      &:first-child{
        border-bottom: 1px solid #dddddd;
        padding-bottom: 14px;
        margin-bottom: 20px;
        margin-top: 15px;
      }
      &:nth-of-type(2){
        margin-bottom: 14px;
      }
    }
  }
  .appoint{
    width: 767px;
    //height: 266px;
    border-radius: 12px;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/info.png") no-repeat;
    float: right;
    padding: 28px 29px 21px 0;
    box-sizing: border-box;
    .sign-in{
      width: 451px;
      float: right;
      input{
        width: 100%;
        height: 64px;
        line-height: 64px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        margin-bottom: 13px;
        border-radius: 9px;
        background-color: #fdfdfd;
        font-size: 16px;
      }
      .user-name{
        width: 255px;
        height: 64px;
        float: left;
        margin-right: 13px;
      }
      .grade{
        width: 183px;
        height: 64px;
        float: right;
      }
      input[type='submit']{
        background-image: linear-gradient(-90deg,
            #ff5c34 0%,
            #ffb454 100%),
        linear-gradient(
                #ff623b,
                #ff623b);
        box-shadow: 0 3px 4px 0 rgba(240, 86, 48, 0.3);
        font-size: 26px;
        color: #ffffff;
        border: none;
      }

    }
  }
}
.wap-study{
  display: none;
}
.wap-appoint{
  display: none;
}
.banner-2{
  display: none;
}

/* 直击家长焦虑，解决孩子上学难题 */
.good-teach{
  height: 719px;
  padding-top: 90px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_1.png") no-repeat center;
  background-size: 100% 100%;

  @extend %clearfix;
  .title{
    color: #ffffff;
    margin-bottom: 13px;
  }
  .subhead{
  }
  .cont{
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    //border: 1px solid red;
    .cont-item{
      height: 132px;
      overflow: hidden;
      padding-top: 26px;
      padding-left: 20px;
      padding-right: 40px;
      box-sizing: border-box;
      .num{
        float: left;
        width: 32px;
        height: 32px;
        line-height: 32px;
        background-image: linear-gradient(-55deg,
            #f05830 0%,
            #fed700 100%),
        linear-gradient(
                #ffffff,
                #ffffff);
        background-blend-mode: normal, normal;
        box-shadow: 0 2px 5px 0 rgba(240, 89, 48, 0.75);

        font-size: 28px;
        color: #fefeff;
        text-align: center;
        border-radius: 50%;
        margin-right: $padding-size;
      }
      .item-detail{
        float: left;
        .detail-title{
          font-size: 28px;
          font-weight: bold;
          line-height: 28px;
          color: #fed700;
          margin-bottom: 12px;
        }
        p{
          font-size: 22px;
          line-height: 24px;
          color: #ffffff;
          opacity: 0.6;
        }
      }
      &:nth-child(odd){
        padding-left: 59px;
      }
      &:nth-of-type(2){
        .item-detail{
          //width: pr(312px);
        }
      }
      &:nth-of-type(3){
        padding-top: 36px;
        .item-detail{
          //width: pr(424px);
        }
      }
      &:nth-of-type(4){
        padding-top: 32px;
        .item-detail{
          //width: pr(504px);
        }
      }
    }
  }
}

/* 国际学校大全 */
.all-school{
  width: 1200px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  .title{
    background-size: contain;
    margin-bottom: 29px;
    span{
      color: #444444;
    }
  }
  .tab-head{
    @extend %clearfix;
    .head-item{
      @extend %in-b;
      //width: 230px;
      height: 58px;
      line-height: 58px;
      border: solid 1px #dddddd;
      padding: 0 49px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 22px;
      color: #444444;
      margin-right: 10px;
      &.active{
        background: $bg-color;
        border: solid 1px $bg-color;
        color: #ffffff;
      }
      &:hover{
        background: $bg-color;
        border: solid 1px $bg-color;
        color: #ffffff;
      }
    }
  }
  .tab-cont{
    @extend %clearfix;
    padding: 0 10px;
    margin-top: 20px;
    margin-right: -27px;
    display: none;
    .cont-item{
      background-color: #ffffff;
      border: solid 1px #d0d9ff;
      padding: 28px 25px;
      box-sizing: border-box;
      text-align: center;
      width: 269px;
      height: 355px;
      float: left;
      margin-right: 27px;
      margin-bottom: 46px;
      position: relative;
      img{
        margin-bottom: 10px;
      }
      .item-title{
        font-size: 20px;
        line-height: 24px;
        display: block;
        @extend %one;
      }
      li{
        font-size: 16px;
        text-align: left;
        margin-top: 10px;
        span{
          color: #888888;
        }
        strong{
          font-weight: normal;
        }
      }
      .btn{
        display: block;
        width: 140px;
        height: 40px;
        background-color: #6a80ea;
        border-radius: 8px 8px 0 0;

        font-size: 16px;
        line-height: 40px;
        color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:hover{
        box-shadow: 0 0 12px 0 rgba(106, 128, 234, 0.4);
      }
    }
    &.active{
      display: block;
    }
    .more{
      display: block;
      width: 710px;
      height: 58px;
      line-height: 58px;
      border: solid 1px #d0d9ff;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      font-size: 20px;
      color: $bg-color;
      cursor: pointer;
    }
  }
  /* 深圳国际学校 */
  .sz{
    .cont-item{
      img{
        width: 73%;
      }
      .item-title{
        color: #3c55d1;
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

/* 如何顺利进入心仪国际学校 */
.goal-school{
  width: 100%;
  //height: 422px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_2.png") no-repeat top;
  padding-top: 79px;
  .title{
    background-size: contain;
    padding-top: pr(10px);
    span{
      color: #ffffff;
    }
  }
  .subhead{}

  .goal-cont{
    width: 1100px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px 0 rgba(18, 38, 137, 0.4);
    border-radius: 12px;
    padding-left: 124px;
    padding-top: 38px;
    box-sizing: border-box;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_2-1.png") no-repeat #ffffff;
    background-size: 100% 100%;
    li{
      text-align: left;
      //border: 1px solid red;
      @extend %clearfix;
      .icon{
        width: 32px;
        height: 70px;
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/step.png") no-repeat;
        background-size: 100% 100%;
        text-align: center;
        padding-top: 20px;
        padding-right: 3px;
        box-sizing: border-box;
        color: #ffffff;
        font-size: 18px;
        line-height: 22px;
        float: left;
        margin-right: 30px;
      }
      .text{
        float: left;
        margin-top: 16px;
        width: 92%;
        @extend %one;
        .text-title{
          font-size: 22px;
          font-weight: bold;
          line-height: 24px;
          color: $bg-color;
        }
        p{
          font-size: 18px;
          color: #666666;
        }
      }
    }
    .btn{
      @extend %in-b;
      width: 399px;
      height: 54px;
      background-image: linear-gradient(-90deg,
          #ff5c34 0%,
          #ffb454 100%),
      linear-gradient(
              #ff623b,
              #ff623b);
      box-shadow: 0 3px 4px 0 rgba(240, 86, 48, 0.3);
      border-radius: 9px;
      font-size: 22px;
      line-height: 54px;
      color: #ffffff;
      text-align: center;
      margin-top: 18px;
      margin-bottom: -19px;
    }
  }
}

/* 国际学校入学能力免费评估 */
.assess{
  margin-top: 73px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_3.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 47px;
  .assess-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    color: #ffffff;
    strong{
      color: #ffcc00;
    }
  }
  .exam{
    font-size: 20px;
    line-height: 42px;
    color: #ffffff;
    opacity: 0.7;
  }
  .population{
    width: 411px;
    color: #ffffff;
    font-size: 24px;
    line-height: 42px;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_6.png") no-repeat center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
  }
  .sign-in{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    //border: 1px solid red;
    @extend %clearfix;
    input{
      width: 292px;
      height: 55px;
      background-color: #ffffff;
      border-radius: 9px;
      float: left;
      margin-right: 10px;
    }
    select{
      float: left;
      width: 292px;
      height: 55px;
      border-radius: 9px;
      margin-right: 10px;
      outline: none;
      color: #999999;
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/triangle.png") no-repeat 92% center #ffffff;
    }
    input[type='submit']{
      width: 292px;
      background-image: linear-gradient(-90deg,
          #ff5c34 0%,
          #ffb454 100%),
      linear-gradient(
              #ffffff,
              #ffffff);
      box-shadow: 0 3px 4px 0 rgba(240, 86, 48, 0.3);
      margin-right: 0;
      color: #ffffff;
    }
  }
}

/* 多维度评估 全方位解读 */
.reading{
  width: 643px;
  height: 460px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_4.png") no-repeat center;
  background-size: 100% 100%;
  margin-top: 65px;
  margin-bottom: 77px;
  .reading-title{
    font-size: 35px;
    line-height: 69px;
    font-weight: bold;
    padding-left: 55px;
    color: #ffffff;
  }
  .explain{
    width: 306px;
    padding-left: 260px;
    padding-top: 70px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: pr(34px);
  }
  .reading-cont{
    @extend %clearfix;
    .cont-btn{
      width: 238px;
      height: 80px;
      float: left;
      background-image: linear-gradient(-90deg,
          #f05830 0%,
          #f09930 100%),
      linear-gradient(
              #f05830,
              #f05830);
      border-radius: 0 47px 47px 0;
      box-sizing: border-box;
      padding: 10px 38px;

      font-size: 20px;
      line-height: 26px;
      color: #ffffff;
      margin-right: 9px;
    }
    .report{
      width: 320px;
      height: 103px;
      float: left;
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_7.png") no-repeat center;
      background-size: 100% 100%;
      padding: 23px 65px 31px 44px;
      box-sizing: border-box;
      font-size: 16px;
      color: #ffffff;
      opacity: 0.7;
      margin-right: 61px;
    }
  }
}
.wap-reading{
  display: none;
}

/* 从国际学校面试真题 */
.past-exam{
  width: 665px;
  height: 405px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_5.png") no-repeat;
  position: absolute;
  top: 108px;
  right: 0;
  padding-top: 33px;
  padding-left: 51px;
  box-sizing: border-box;
  .title{
    font-size: 34px;
    line-height: 36px;
    color: #444444;
  }
  .subhead{
    color: #666666;
    margin-bottom: pr(29px);
  }
  .exam-cont{
    margin-bottom: pr(30px);
    @extend %clearfix;
    .cont-item{
      width: 180px;
      height: 148px;
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_1.png");
      background-size: 100% 100%;
      float: left;
      margin-right: 20px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
      img{
        width: pr(64px);
        margin-bottom: $padding-size;
      }
      span{
        display: block;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }
      &:nth-of-type(2){
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_2.png");
        background-size: 100% 100%;
        img{
          width: pr(52px);
        }
      }
      &:nth-of-type(3){
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_3.png");
        background-size: 100% 100%;
        img{
          width: pr(48px);
          margin-bottom: pr(15px);
        }
      }
    }
  }
  .exam-btn{
    display: block;
    width: 272px;
    height: 44px;
    border-radius: 22px;
    border: solid 1px #f95b34;
    font-size: 24px;
    line-height: 44px;
    color: #ee5f3c;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.wap-past-exam{
  display: none;
}

/* 预约看校流程 */
.look-school{
  width: 1096px;
  text-align: center;
  padding-bottom: pr(30px);
  .title{
    padding-top: pr(10px);
  }
  .step{
    margin: pr(45px) $padding-size pr(39px);
    @extend %clearfix;
    .step-item{
      width: 20%;
      float: left;
      .icon{
        @extend %in-b;
        width: 100%;
        height: 115px;
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-icon_10.png") no-repeat;
        background-size: 100% 100%;
        font-size: pr(36px);
        line-height: pr(100px);
        color: #ffffff;
      }
      span{
        display: block;
        font-size: pr(22px);
        line-height: pr(36px);
      }
    }
  }
  .btn{
    @extend %in-b;
    width: 347px;
    height: 58px;
    background-image: linear-gradient(-90deg,
        #ff5c34 0%,
        #ffb454 100%),
    linear-gradient(
            #ff623b,
            #ff623b);
    background-blend-mode: normal,
    normal;
    box-shadow: 0 3px 4px 0 rgba(240, 86, 48, 0.3);
    border-radius: 9px;

    font-size: 24px;
    line-height: 58px;
    color: #ffffff;
  }
}

/* 第十二届国际学校择校展 */
.school-fair{
  padding: 60px $padding-size pr(29px);
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-bg_6.png") no-repeat top;
  background-size: contain;
  text-align: center;
  .assess-title{
    font-size: 40px;
    font-weight: bold;
    line-height: pr(42px);
    color: $txt-color;
    strong{
      font-size: 38px;
      background-color: $txt-color;
      color: #ffffff;
      border-radius: 45% 50%;
      padding: 0 pr(4px);
      margin: 0 pr(-2px);
    }
  }
  .exam{
    font-size: 26px;
    line-height: 42px;
  }
  .population{
    width: 420px;
    color: #ffffff;
    font-size: 18px;
    line-height: pr(42px);
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_12.png") no-repeat center;
    background-size: cover;
    margin-bottom: pr(17px);
    margin-left: auto;
    margin-right: auto;
    img{
      //@extend %in-b;
      width: pr(10px);
      height: pr(14px);
      vertical-align: middle;
    }
    span{
      color: rgba(255, 255, 255, 0.28);
      margin-left: pr(8px);
      padding-right: pr(5px);
    }
  }
  .sign-in{
    width: 909px;
    //height: 194px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(99, 99, 99, 0.4);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 35px 37px 35px;
    box-sizing: border-box;
    @extend %clearfix;
    .fair-title{
      margin-bottom: 34px;
      span{
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        line-height: 32px;
        strong{
          color: #f05830;
        }
      }
    }
    input{
      width: 286px;
      height: 53px;
      background-color: #ffffff;
      border-radius: 9px;
      border: solid 1px #dddddd;
      box-sizing: border-box;
      font-size: 16px;
      margin-right: 13px;
      float: left;
    }
    input[type='submit']{
      width: 241px;
      background-image: linear-gradient(-90deg,
          #ff5c34 0%,
          #ffb454 100%),
      linear-gradient(
              #ff623b,
              #ff623b);
      box-shadow: 0 3px 4px 0 rgba(240, 86, 48, 0.3);
      color: #ffffff;
      border: none;
      margin-right: 0;
    }
  }
}

.pc-footer{
  height: 89px;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 12px;
  padding-top: 21px;
  padding-bottom: 26px;
  box-sizing: border-box;
  .footer-nav{
    margin-bottom: 10px;
    color: #cccccc;
    a{
      padding: 0 20px;
      color: #444444;
      &:hover{
        color: $txt-color;
      }
    }
  }
}

.copyright{
  display: none;
}
.footer-fixed{
  display: none;
}

/* 弹窗 */
.popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .cont{
    width: 481px;
    border-radius: pr(12px);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 154px 15px 16px;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/pc-popup.png") no-repeat;
    background-size: 100% 100%;
    .close{
      width: 16px;
      height: 16px;
      position: absolute;
      top: 40px;
      right: 20px;
      cursor: pointer;
    }
    .sign-in{
      background-color: #ffffff;
      box-shadow: 0 0 10px 0 rgba(168, 47, 16, 0.57);
      border-radius: 12px;
      padding: 20px pr(19px) pr(10px);
      .popup-title{
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 15px;
      }
      .project{
        @extend %clearfix;
        margin-bottom: 15px;
        .project-item{
          float: left;
          text-align: left;
          margin-right: pr(30px);
          cursor: pointer;
          .circle{
            @extend %in-b;
            width: 12px;
            height: 12px;
            border: 1px solid #cccccc;
            border-radius: 50%;
            background-color: #ffffff;
            vertical-align: text-top;
            position: relative;
            margin-right: 5px;
          }
          span{
            font-size: 20px;
            line-height: 20px;
          }
          &.active{
            .circle{
              &:before{
                position: absolute;
                content: '';
                top: pr(3px);
                right: pr(3px);
                bottom: pr(3px);
                left: pr(3px);
                background-color: $txt-color;
                border-radius: 50%;
              }
            }
            span{
              color: $txt-color;
            }
          }
        }
      }

      input{
        width: 100%;
        height: 45px;
        line-height: 45px;
        border: solid 1px #dddddd;
        box-sizing: border-box;
        margin-bottom: 14px;
        font-size: 18px;
      }
      input[type='submit']{
        background-image: linear-gradient(-90deg,
                #f05630 0%,
                #f09c30 100%),
        linear-gradient(
                        #f05630,
                        #f05630);
        box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
        border-radius: pr(28px);
        font-size: 20px;
        color: #ffffff;
        border: none;
      }
    }
  }
}

/*mobile*/
@media screen and (max-width: 750px) {
  body{
    padding-bottom: pr(170px);
  }
  body, html, div, input, select, option, ul, li, h1, h2, h3, p, span, strong, a{
    box-sizing: border-box;
  }

  /* 去除前后伪类 */
  %flex {
    &:before,
    &:after {
      display: none;
    }
  }

  .wrap{
    max-width: pr(750px);
  }
  /* 公共标题 */
  .title{
    font-weight: bold;
    font-size: pr(36px);
    height: pr(41px);
    line-height: pr(41px);
    text-align: center;
    img{
      height: 100%;
    }
  }
  /* 公共副标题 */
  .subhead{
    font-size: pr(26px);
    line-height: pr(24px);
    text-align: center;
  }
  /* 弹窗 */
  .popup{
    .cont{
      max-width: pr(640px);
      border-radius: pr(12px);
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 500;
      padding: pr(210px) $padding-size pr(22px);
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/popup.png") no-repeat;
      background-size: 100% 100%;
      .close{
        width: pr(20px);
        height: pr(20px);
        top: pr(48px);
        right: pr(22px);
      }
      .sign-in{
        background-color: #ffffff;
        box-shadow: 0 0 10px 0 rgba(168, 47, 16, 0.57);
        border-radius: 12px;
        padding: pr(30px) pr(19px) pr(10px);
        .popup-title{
          font-weight: bold;
          font-size: pr(26px);
          line-height: pr(30px);
          margin-bottom: $padding-size;
        }
        .project{
          margin-bottom: $padding-size;
          .project-item{
            float: left;
            text-align: left;
            margin-right: pr(30px);
            cursor: pointer;
            .circle{
              width: pr(14px);
              height: pr(14px);
              border: 1px solid #cccccc;
              border-radius: 50%;
              background-color: #fff;
              position: relative;
            }
            span{
              font-size: pr(26px);
              line-height: pr(26px);
            }
            &.active{
              .circle{
                &:before{
                  position: absolute;
                  content: '';
                  top: pr(3px);
                  right: pr(3px);
                  bottom: pr(3px);
                  left: pr(3px);
                  background-color: $txt-color;
                  border-radius: 50%;
                }
              }
              span{
                color: $txt-color;
              }
            }
          }
        }

        input{
          width: 100%;
          height: pr(58px);
          line-height: pr(58px);
          border: solid 1px #dddddd;
          box-sizing: border-box;
          margin-bottom: $padding-size;
          font-size: pr(26px);
        }
        input[type='submit']{
          background-image: linear-gradient(-90deg,
                  #f05630 0%,
                  #f09c30 100%),
          linear-gradient(
                          #f05630,
                          #f05630);
          background-blend-mode: normal, normal;
          box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
          border-radius: pr(28px);
          border: none;
          font-size: pr(26px);
          line-height: pr(36px);
          color: #ffffff;
        }
      }
    }
  }
  .header{
    width: 100%;
    padding: pr(16px) $padding-size;
    .logo{
      width: pr(156px);
      height: pr(55px);
    }
    .detail{
      width: pr(220px);
      font-size: pr(16px);
      line-height: pr(30px);
      margin-left: pr(20px);
      margin-top: 0;
    }
    .nav{
      display: none;
    }
    .mobile{
      margin-top: pr(16px);
      color: $txt-color;
      .icon{
        width: pr(28px);
        height: pr(28px);
        background-size: 100% 100%;
      }
      .tel{
        font-weight: bold;
        font-size: pr(32px);
        line-height: pr(24px);
        color: $txt-color;
      }
    }
  }
  .wap-nav{
    padding: 0 $padding-size;
    border-top: 1px solid #dddddd;
    display: flex;
    justify-content: space-around;
    .nav-item{
      line-height: pr(70px);
      font-size: pr(30px);
      &.active{
        color: $txt-color;
      }
    }
  }
  .banner{
    display: none;
  }
  .wap-banner{
    display: block;
    padding-top: pr(315px);
    padding-bottom: pr(85px);
    padding-left: pr(154px);
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/banner_1.png") no-repeat center;
    background-size: 100% 100%;
    .btn{
      width: pr(360px);
      height: pr(50px);
      line-height: pr(50px);
      border-radius: pr(24px);
      border: solid pr(2px) #ffffff;
      box-sizing: border-box;
      padding-left: $padding-size;
      .tel{
        float: left;
        font-size: pr(24px);
        line-height: pr(48px);
        color: white;
        box-sizing: border-box;
      }
      .know{
        float: right;
        background: #f84949;
        border-radius: pr(25px);
        font-size: pr(24px);
        padding: 0 pr(10px);
        color: #ffffff;
        margin-top: pr(-2px);
        margin-right: pr(-4px);
        height: pr(50px);
        line-height: pr(50px);
      }
    }
  }
  /* 预约探校 */
  .visit{
    display: none;
  }
  .wap-study{
    padding: pr(30px) pr(19px) pr(30px) pr(0px);
    background-color: #ffffff;
    box-shadow: 0 0 pr(12px) 0 rgba(37, 59, 163, 0.32);
    border-radius: pr(12px);
    margin: pr(-35px) $padding-size pr(30px);
    z-index: 30;
    display: flex;
    justify-content: center;
    .study-item{
      img{
        height: pr(97px);
        float: left;
        margin-right: pr(19px);
      }
      .item-detail{
        float: right;
        line-height: pr(36px);
        margin-top: pr(15px);
        .item-title{
          font-size: pr(32px);
        }
        p{
          font-size: pr(24px);
          color: #888888;
        }
      }
      &:first-child{
        border-right: 1px solid #dddddd;
        padding-right: pr(15px);
        margin-right: pr(15px);
      }
    }
  }
  .banner-2{
    margin: 0 $padding-size pr(20px);
  }
  /* 立即预约 */
  .wap-appoint{
    display: block;
    margin: 0 $padding-size;
    input{
      width: 100%;
      height: pr(58px);
      line-height: pr(58px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      margin-bottom: $padding-size;
    }
    input[type='submit']{
      background-image: linear-gradient(-90deg,
          #f05630 0%,
          #f09c30 100%),
      linear-gradient(
              #f05630,
              #f05630);
      background-blend-mode: normal, normal;
      box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
      border-radius: pr(28px);
      border: none;
      font-size: pr(26px);
      line-height: pr(36px);
      color: #ffffff;
    }
  }
  /* 直击家长焦虑，解决孩子上学难题 */
  .good-teach{
    height: pr(751px);
    padding-top: pr(86px);
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/bg_1.png") no-repeat center;
    background-size: 100% 100%;
    .title{
      color: #ffffff;
      margin-bottom: pr(8px);
    }
    .subhead{
      font-size: pr(26px);
      margin-bottom: pr(59px);
      line-height: pr(24px);
      color: #ffffff;
      opacity: 0.36;
    }
    .cont{
      width: pr(674px);
      .cont-item{
        padding-top: pr(28px);
        padding-left: pr(34px);
        padding-right: pr(70px);
        height: pr(118px);
        .num{
          float: left;
          width: pr(32px);
          height: pr(32px);
          line-height: pr(32px);
          background-image: linear-gradient(-55deg,
              #f05830 0%,
              #fed700 100%),
          linear-gradient(
                  #ffffff,
                  #ffffff);
          background-blend-mode: normal, normal;
          box-shadow: 0 pr(2px) pr(5px) 0
          rgba(240, 89, 48, 0.75);

          font-size: pr(28px);
          color: #fefeff;
          text-align: center;
          border-radius: 50%;
          margin-right: $padding-size;
        }
        .item-detail{
          float: left;
          .detail-title{
            font-size: pr(28px);
            font-weight: bold;
            line-height: pr(24px);
            color: #fed700;
            margin-bottom: pr(12px);
          }
          p{
            font-size: pr(22px);
            line-height: pr(30px);
            color: #ffffff;
            opacity: 0.6;
          }
        }
        &:nth-child(odd){
          padding-left: pr(30px);
        }
        &:nth-child(even){
          padding-left: pr(60px);
        }
        &:nth-of-type(2){
          .item-detail{
            width: pr(312px);

          }
        }
        &:nth-of-type(3){
          padding-top: pr(15px);
          .item-detail{
            width: pr(424px);
          }
        }
        &:nth-of-type(4){
          padding-top: pr(20px);
          .item-detail{
            width: pr(470px);
          }
        }
      }
    }
  }
  /* 国际学校大全 */
  .all-school{
    width: 100%;
    text-align: center;
    padding-top: $padding-size;
    margin-bottom: pr(30px);
    .title{
      width: pr(663px);
      padding-top: pr(10px);
      margin-bottom: pr(20px);
      span{
        font-weight: bold;
        font-size: pr(36px);
        line-height: pr(24px);
        color: #444444;
      }
    }
    .tab-head{
      padding: 0 $padding-size;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .head-item{
        //width: pr(230px);
        height: pr(58px);
        line-height: pr(58px);
        border: solid 1px #dddddd;
        padding: 0 pr(34px);
        box-sizing: border-box;
        cursor: pointer;
        font-size: pr(26px);
        margin-right: 0;
        &.active{
          background: $bg-color;
          border: solid 1px $bg-color;
          color: #ffffff;
        }
        &:hover{
          background: $bg-color;
          border: solid 1px $bg-color;
          color: #ffffff;
        }
      }
    }
    .tab-cont{
      @extend %flex;
      width: 100%;
      padding: 0 $padding-size;
      margin-top: pr(20px);
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: pr(22px);
      grid-row-gap: pr(19px);
      display: none;
      .cont-item{
        width: pr(344px);
        height: pr(420px);
        background-color: #ffffff;
        box-shadow: 0 0 pr(12px) 0 rgba(106, 128, 234, 0.4);
        border: solid 1px #d0d9ff;
        padding: pr(21px) pr(21px) pr(31px);
        box-sizing: border-box;
        text-align: center;
        margin-right: 0;
        margin-bottom: 0;
        img{
          margin-bottom: pr(8px);
        }
        .item-title{
          font-size: pr(24px);
          line-height: pr(36px);
          display: block;
        }
        li{
          font-size: pr(22px);
          text-align: left;
          margin-top: pr(5px);
          span{
            color: #888888;
          }
          strong{
            font-weight: normal;
          }
        }
        .btn{
          width: pr(220px);
          height: pr(46px);
          line-height: pr(46px);
          background-color: $bg-color;
          color: #ffffff;
          margin-top: $padding-size;
          border-radius: 0;
          bottom: pr(20px);
        }
      }
      &.active{
        display: grid;
      }
      .more{
        display: none;
      }
    }
    /* 深圳国际学校 */
    .sz{
      .cont-item{
        .item-title{
          margin-bottom: pr(20px);
          padding-bottom: pr(20px);
        }
      }
    }
  }
  /* 如何顺利进入心仪国际学校 */
  .goal-school{
    width: 100%;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/bg_2.png") no-repeat top;
    background-size: contain;
    padding: pr(79px) $padding-size pr(10px);
    box-sizing: border-box;
    text-align: center;
    .title{
      padding-top: pr(10px);
      span{
        font-weight: bold;
        font-size: pr(36px);
        line-height: pr(24px);
        color: #ffffff;
      }
    }
    .subhead{
      margin-bottom: pr(29px);
    }

    .goal-cont{
      width: 100%;
      height: auto!important;
      background-color: #ffffff;
      background-image: none;
      box-shadow: 0 0 12px 0 rgba(18, 38, 137, 0.4);
      border-radius: 12px;
      padding-top: $padding-size;
      padding-left: pr(41px);
      padding-bottom: pr(41px);
      li{
        text-align: left;
        .icon{
          //@extend %in-b;
          width: pr(32px);
          height: pr(90px);
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/wap-step.png") no-repeat;
          background-size: 100% 100%;
          text-align: center;
          padding-top: pr(14px);
          padding-right: pr(3px);
          box-sizing: border-box;
          color: #ffffff;
          font-size: pr(18px);
          line-height: pr(22px);
          float: left;
          margin-right: pr(30px);
        }
        .text{
          float: left;
          margin-top: pr(9px);
          width: 88%;
          .text-title{
            font-size: pr(30px);
            font-weight: bold;
            line-height: pr(42px);
            color: $bg-color;
          }
          p{
            font-size: pr(26px);
            color: #666666;
          }
        }
      }
      .btn{
        width: pr(300px);
        background-image: linear-gradient(-90deg,
            #f05630 0%,
            #f09c30 100%),
        linear-gradient(
                #f08830,
                #f08830);
        background-blend-mode: normal, normal;
        box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
        border-radius: pr(24px);
        height: pr(48px);
        line-height: pr(48px);
        font-size: pr(26px);
        color: #ffffff;
        margin-top: pr(39px);
      }
    }
  }
  /* 国际学校入学能力免费评估 */
  .assess{
    margin: 0 $padding-size pr(30px); 
    padding: pr(30px) $padding-size;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/bg_3.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    border-top: $padding-size solid transparent; // 为描点显示顶部有空隙
    .assess-title{
      //@extend %in-b;
      font-size: pr(36px);
      font-weight: bold;
      line-height: pr(42px);
      color: #ffffff;
      margin-top: $padding-size;
      strong{
        color: #ffcc00;
        font-size: pr(36px);
      }
    }
    .exam{
      font-size: pr(26px);
      line-height: pr(42px);
      color: #ffffff;
      opacity: 0.7;
    }
    .population{
      width: pr(407px);
      color: #ffffff;
      font-size: pr(24px);
      line-height: pr(42px);
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_6.png") no-repeat center;
      background-size: cover;
      margin-bottom: pr(17px);
    }
    .sign-in{
      width: 100%;
      background-color: #ffffff;
      padding: pr(30px) pr(21px) pr(10px) pr(19px);
      box-sizing: border-box;
      font-size: pr(24px);
      input{
        width: 100%;
        height: pr(58px);
        line-height: pr(58px);
        border: solid 1px #dddddd;
        box-sizing: border-box;
        margin-bottom: $padding-size;
      }
      select{
        width: 100%;
        height: pr(58px);
        border: solid 1px #dddddd;

      }
      input[type='submit']{
        width: 100%;
        background-image: linear-gradient(-90deg,
            #f05630 0%,
            #f09c30 100%),
        linear-gradient(
                #f05630,
                #f05630);
        box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
        border-radius: pr(28px);
        border: none;
        font-size: pr(26px);
        line-height: pr(36px);
        color: #ffffff;
        margin-top: $padding-size;
      }
    }
  }
  /* 多维度评估 全方位解读 */
  .reading{
    display: none;
  }
  .wap-reading{
    display: block;
    margin: 0 $padding-size pr(8px);
    padding-right: $padding-size;
    height: pr(486px);
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/bg_4.png") no-repeat center;
    background-size: 100% 100%;
    .reading-title{
      font-size: pr(36px);
      font-weight: bold;
      line-height: pr(70px);
      padding-left: pr(57px);
      color: #ffffff;
    }
    .explain{
      padding-left: pr(290px);
      padding-top: pr(58px);
      color: #ffffff;
      font-size: pr(26px);
      margin-bottom: pr(34px);
    }
    .reading-cont{
      .cont-btn{
        float: left;
        background-image: linear-gradient(-90deg,
            #f05830 0%,
            #f09930 100%),
        linear-gradient(
                #f05830,
                #f05830);
        background-blend-mode: normal, normal;
        border-radius: 0 47px 47px 0;
        padding: pr(10px) pr(64px);

        font-size: pr(26px);
        line-height: pr(36px);
        color: #ffffff;
        margin-top: pr(50px);

      }
      .report{
        float: right;
        width: pr(350px);
        height: pr(104px);
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_7.png") no-repeat center;
        background-size: 100% 100%;
        padding: $padding-size pr(0px) $padding-size pr(30px);

        font-size: pr(22px);
        color: #ffffff;
        opacity: 0.7;
      }
    }
  }
  /* 从国际学校面试真题 */
  .past-exam{
    display: none;
  }
  .wap-past-exam{
    display: block;
    text-align: center;
    padding-top: $padding-size;
    padding-bottom: pr(30px);
    .subhead{
      color: #666666;
      margin-bottom: pr(29px);
    }
    .exam-cont{
      padding: 0 $padding-size;
      display: flex;
      justify-content: space-between;
      margin-bottom: pr(30px);
      .cont-item{
        width: 32%;
        height: pr(164px);
        background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_1.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          width: pr(64px);
          margin-bottom: $padding-size;
        }
        span{
          font-size: pr(26px);
          line-height: pr(30px);
          color: #ffffff;
        }
        &:nth-of-type(2){
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_2.png");
          background-size: 100% 100%;
          img{
            width: pr(52px);
          }
        }
        &:nth-of-type(3){
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/interview_3.png");
          background-size: 100% 100%;
          img{
            width: pr(48px);
            margin-bottom: pr(15px);
          }
        }
      }
    }
    .exam-btn{
      display: inline-block;
      width: pr(300px);
      height: pr(48px);
      border-radius: pr(24px);
      border: dotted 1px #f95b34;
      font-size: pr(26px);
      line-height: pr(48px);
      color: #ee5f3c;
    }
  }
  /* 预约看校流程 */
  .look-school{
    text-align: center;
    padding-bottom: pr(30px);
    .title{
      padding-top: pr(10px);
      span{
        font-size: pr(36px);
        font-weight: bold;
        line-height: pr(36px);
      }
    }
    .step{
      margin: pr(45px) $padding-size pr(39px);
      .step-item{
        width: 20%;
        float: left;
        .icon{
          height: pr(109px);
          width: 100%;
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_10.png");
          background-size: 100% 100%;
          font-size: pr(36px);
          line-height: pr(100px);
          color: #ffffff;
        }
        span{
          font-size: pr(22px);
          line-height: pr(36px);
        }
      }
    }
    .btn{
      background-image: linear-gradient(-90deg,
          #f05630 0%,
          #f09c30 100%),
      linear-gradient(
              #f08830,
              #f08830);
      box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
      border-radius: pr(24px);
      padding: 0 pr(74px);
      height: pr(48px);
      line-height: pr(48px);
      font-size: pr(26px);
      color: #ffffff;
      margin-top: pr(10px);
    }
  }
  /* 第十一届国际学校择校展 */
  .school-fair{
    padding: $padding-size $padding-size pr(29px);
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/bg_5.png") no-repeat top;
    background-size: contain;
    text-align: center;
    .assess-title{
      font-size: pr(36px);
      font-weight: bold;
      line-height: pr(42px);
      color: $txt-color;
      strong{
        background-color: $txt-color;
        color: #ffffff;
        border-radius: 45% 50%;
        padding: 0 pr(4px);
        margin: 0 pr(-2px);
        font-size: pr(36px);
      }
    }
    .exam{
      font-size: pr(26px);
      line-height: pr(42px);
    }
    .population{
      width: pr(420px);
      color: #ffffff;
      font-size: pr(18px);
      line-height: pr(42px);
      background: url("https://img.thea.cn/public/platform/thea/201906/hbj/adaptive-school/images/icon_12.png") no-repeat center;
      background-size: cover;
      margin-bottom: pr(17px);
      img{
        width: pr(10px);
        height: pr(14px);
        vertical-align: middle;
      }
      span{
        color: rgba(255, 255, 255, 0.28);
        margin-left: pr(8px);
        padding-right: pr(5px);
      }
    }
    .sign-in{
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0 0 12px 0 rgba(99, 99, 99, 0.4);
      border-radius: 12px;
      padding: pr(39px) pr(41px) pr(20px) pr(39px);
      .fair-title{
        background-size: contain;
        padding-bottom: pr(6px);
        margin-bottom: pr(30px);
        span{
          font-size: pr(36px);
          font-weight: bold;
          line-height: pr(20px);
        }
      }
      input{
        width: 100%;
        height: pr(58px);
        line-height: pr(58px);
        border: solid 1px #dddddd;
        box-sizing: border-box;
        margin-bottom: $padding-size;
        font-size: pr(26px);
        border-radius: 0;
      }
      input[type='submit']{
        width: 100%;
        background-image: linear-gradient(-90deg,
            #f05630 0%,
            #f09c30 100%),
        linear-gradient(
                #f05630,
                #f05630);
        background-blend-mode: normal, normal;
        box-shadow: 0 pr(3px) pr(4px) 0 rgba(240, 86, 48, 0.3);
        border-radius: pr(28px);
        border: none;
        font-size: pr(26px);
        line-height: pr(36px);
        color: #ffffff;
      }
    }
  }
  .pc-footer{
    display: none;
  }
  .copyright{
    display: block;
    font-size: pr(26px);
    line-height: pr(36px);
    color: #999999;
    text-align: center;
    margin: 0 $padding-size;
    .company{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:before, &:after{
        content: '';
        width: pr(116px);
        height: 1px;
        background-color: #dddddd;
        vertical-align: middle;
      }
    }
  }
  .footer-fixed{
    display: block;
    position: fixed;
    bottom: 0;
    width: pr(750px);

    margin: 0 auto;
    z-index: 100;
    left: 0;
    right: 0;
    .footer-cont{
      position: relative;
      text-align: center;
      font-size: pr(32px);
      a{
        display: block;
        width: 38%;
        height: pr(98px);
        background-color: #6a7fea;
        box-sizing: border-box;
        color: #ffffff;
        img{
          width: pr(40px);
          height: pr(40px);
          vertical-align: middle;
        }
        &:first-child{
          float: left;
          padding-left: pr(36px);
          padding-right: pr(57px);
          line-height: pr(98px);
        }
        &:nth-of-type(2){
          background-color: #f05830;
          height: pr(154px);
          border-radius: pr(154px) pr(154px) 0 0;
          float: left;
          position: absolute;
          left: 0;
          right: 0;
          margin-top: pr(-56px);
          margin-left: auto;
          margin-right: auto;
          padding-top: pr(41px);
          padding-bottom: pr(33px);
        }
        &:nth-of-type(3){
          float: right;
          background-color: #f09330;
          padding-left: pr(57px);
          padding-right: pr(36px);
          line-height: pr(98px);
        }
      }
    }
  }
}

